<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:image" content="/images/logo512.png" />
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/{{style}}.css">
  <title>Disposable URL | Never reuse your URL</title>
</head>
<body>
  {{{body}}}
</body>
</html>